body {
  background-color: #EFEBC7;
  color: #1F1F56;
  font-size: 16px;
  line-height: 1.2em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
  link {color: #111130;}
  visited {color: #24244c;}
  hover {color: #8989c8;}
  active {color: #43438e;}
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-size: .75em;
  font-style: italic;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5em;
  font-style: italic;
}
