body {
  background-color: #fffff1;
  color: #1F1F56;
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 2.6em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {color: #111130;}
a:visited {color: #5c5cb2;}
a:hover {color: #612e2e;}
a:active {color: #43438e;}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-size: .75em;
  font-style: italic;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.3em;
}

p.author {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3em;
}
